/* Reset default styles */
body,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "novecento-sans-wide", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f7fbfb;
    color: #4f5494;
}

main {
    flex: 1;
}


.mainphoto img {
    max-width: 500px;
    height: auto;
    padding: 0;
    margin-top: 50px;
}

.styled-line {
    width: 95%;
    border: 0.25px solid #4f5494;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    color: #4f5494;
}

.iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.project p {
    display: flex;
    padding-right: 250px;
}



.report {
    display: flex;
    justify-content: center;
    align-content: center;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionVideo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #4f5494;
    color: white;
    padding: 20px;
    margin: 20px;

}

.descriptionVideo2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    margin: 20px;
}

.descriptionVideo2 video {
    align-content: center;
    padding: 30px;

}

.photo img {
    max-width: 150px;
    height: auto;
    margin-bottom: 15px;
}

.text {
    align-items: center;
    padding-left: 40px;
}

.text3 {
    padding-left: 40px;
}

.descriptionVideo video {
    align-content: center;
    padding: 30px;

}

.link {
    padding: 30px;
    margin: 30px;
}

.link a {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px;
    margin: 40px;
}


.descriptionVideo iframe {
    align-content: center;
    padding: 30px;

}

.designimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 30px;

}

.designimg iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}


.about-section {
    flex: 1;
    max-width: 50%;
    color: #4f5494;
}

.page-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

}

.about-section h1 {
    font-size: 2rem;
}

.about-section p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.about-image {
    flex: 1;
    max-width: 40%;

}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-right: 30px;
}

.portfoliolink a {
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    padding: 5px;
    color: #4f5494;
    border: solid #4f5494 1px;
}

.download a {
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    margin: 5px;
    padding: 15px;
    color: #4f5494;
    border: solid #4f5494 1px;
}

h3 {
    font-weight: bold;
}

h2,
h4,
h5,
h6 {
    font-family: "novecento-sans-wide", sans-serif;
    font-weight: 200;
}

footer {
    font-family: "novecento-sans-wide", sans-serif;
    font-weight: 200;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    color: #4f5494;
}

.navbar {
    padding: 10px 20px;
    color: #4f5494;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: row;

}

.photo {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 200px;
    padding: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    opacity: 100%;
}

.menu-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a {
    color: #4f5494;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
}

.nav-links a:hover {
    color: #4f5494;
}

.contactlink a {
    display: flex;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
}

.contactlabel {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4f5494;
}

.contactlabel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactlink img {
    width: 300px;
    background-color: #4f5494;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
    align-content: center;
}

.contactwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contactlink img:hover {
    transform: scale(1.02);

}

.portfolio-wrapper {
    text-align: center;
}

.portfolio-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.project {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 30px;
    background: white;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
    color: #4f5494;
}

.project a {
    background-color: white;
}


.project:hover {
    transform: scale(1.02);
    background-color: #4f5494;
    color: white;

}

.project:hover h3 {
    color: white;
}

.hero h1 {
    color: white;
}

.hero {
    text-align: center;
    padding: 30px;
    background: linear-gradient(to right, #4f5494, #b7bbf4);
    color: white;
    border-radius: 10px;
    max-width: 100%;
}

.hero h1 {
    margin-bottom: 10px;
}

.photo img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding-right: 50px;
}

.mainscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 500px;
}

.cta-button {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background-color: #4f5494;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #f7fbfb;
    color: #4f5494;
}

.worktitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.5rem;
    color: #4f5494;
}

.portfoliolink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.back {
    padding: 20px;
}


.back a {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    color: #4f5494;
    border: solid #4f5494 1px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #4f5494;
        padding: 10px 0;
    }

    .nav-links a {
        color: white;
    }

    .nav-links li {
        padding: 10px;
        text-align: center;
    }

    .nav-links.show {
        display: flex;
    }
}

@media (max-width: 768px) {
    .page-wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-image {
        max-width: 80%;
    }

    .about-section {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .portfolio-grid {
        padding: 0 10px;
    }

    .project {
        padding: 20px;
    }

    .project p {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .contactwrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contactlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contactlink img {
        width: 200px;
        /* Adjust the size for mobile */
    }

    .contactlabel {
        margin-top: 10px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .mainscreen {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
    }

    .hero-container {
        width: 100%;
    }

    .mainphoto img {
        max-width: 100%;
    }

    .photo img {
        max-width: 120px;
    }
}